*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    width:30vw;
    height:80vh;
    background-color: rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
    border-radius:20px;
    border: 3px solid black;
}
.display{
    background-color: white;
    height: 8vh;
    border: 2px solid black;
    border-radius: 10px;
}
.display,.row2,.row3,.row4,.row5,.row6{
    margin: 20px 15px;
}
#clear,#back{
    width:12vw;
}
.row2,.row3,.row4,.row5,.row6{
    display:flex;
    flex:auto;
    justify-content: space-around;
}
button{
    width:100px;
    font-size: bold;
    border-radius: 15px;
    border: 2px solid black;
}
button:hover{
    background-color: lightgray;
}
.footer{
    font-size:1.5em;
    position:absolute;
    bottom:0;
}
a{
    color:inherit;
}
#clear{
    background-color: tomato;
}
#multiply,#plus,#minus,#divide{
    background-color: gold;
}
#equal,#back{
    background-color: darkturquoise;
}